<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" />
	<link rel="stylesheet" href="./assets/css/master.css">
</head>

<body>
	<!-- https://maxcoach.thememove.com/main/remote-training/ -->
	<div id="root" class="gray_text">

		<header>
			<nav id="navbar" class="contained">
				<img src="./assets/img/light-logo.png" alt="" class="left">
				<div class="right">
					<a v-for="selection in navbarAnchor" :href="selection.link">{{selection.name}}<i class="fas fa-chevron-down"></i></a>
					<div class="carrello">
						<i class="fas fa-shopping-cart"></i>
						<div class="number">0</div>
					</div>
					<i class="far fa-user-circle"></i>
					<div class="search">
						<input class="text" type="text" placeholder="Search...">
						<button><i class="fas fa-search"></i></button>
					</div>
				</div>
			</nav>

			<div id="jumbo" class="center">
				<div class="contained">
					<h1>Learn At Your Own Pace!</h1>
					<p>Get teamed up with peolpe of the sabe will</p>
					<button class="btn">Get started for free</button>
				</div>
				<div class="positionament section bg-static">
					<img class="left bg-move" src="./assets/img/home-6-hero-left-person.png" alt="">
					<div class="card">
						<img class="placeolder_img" src="./assets/img/home-6-hero-poster-final.jpg" alt="">
						<img class="logo_youtube" src="./assets/img/icon-youtube-play.png" alt="">
					</div>
					<img class="right bg-move" src="./assets/img/home-6-hero-right-person.png" alt="">
				</div>
			</div>
		</header>

		<main>
			<section id="free_start">
				<div class="contained">
					<div class="info center">
						<h2>Let passion and determination be the guide along the way and develop at your own pace that's
							comfortable.</h2>
						<p class="autor">fannie moreno</p>
						<p class="founder">Founder & CEO</p>
					</div>
					<div class="card_number center">
						<div v-for="card in cardNumber" class="data">
							<div class="number">{{card.number}}</div>
							<p class="mean">{{card.aboutNumber}}</p>
						</div>
					</div>
					<div class="get_start">
						<!-- todo: alcune immagini sono messe al contrario rispetto al testo, da risolvere -->
						<div class="card_service">
							<div class="card" v-for="(card, i) in cardService" :class="(i == 2)?'margined':''">
								<img :src="`./assets/img/home-6-service-image-${card.img}.png`" alt="" v-if="card.imgPosition == 'up'">
								<div class="text">
									<h3>{{card.title}}</h3>
									<p>{{card.paragraph}}</p>
								</div>
								<img :src="`./assets/img/home-6-service-image-${card.img}.png`" alt="" v-if="card.imgPosition == 'down'">
							</div>
						</div>
						<div class="info_for_start">
							<p>thoghether we can create</p>
							<h1>Services We <span class="green">Can Provide</span> For My Clients.</h1>
							<ul>
								<li v-for="li in ulService">
									<i class="fas fa-check"></i>
									{{li.nameLi}}
								</li>
							</ul>
							<button class="btn">Get started for free</button>
						</div>
					</div>
				</div>
			</section>

			<section id="choose_abbonament">
				<div class="contained">

					<div class="title center">
						<p>choose a course to get started</p>
						<h1>Latest Featured <span class="green">Courses</span></h1>
					</div>
					<div class="card_courses">
						<div class="card" v-for="card in cardCourses">
							<div class="img">
								<img :src="`./assets/img/stock-full-hd-${card.img}-480x298.jpg`" alt="">
							</div>
							<div class="text">
								<h3>{{card.cost}}</h3>
								<p>{{card.paragraph}}</p>
								<div class="lessons">
									<i class="far fa-file-alt"></i>
									<span>{{card.lesson}}</span>
								</div>
								<div class="students">
									<i class="far fa-user"></i>
									<span>{{card.student}}</span>
								</div>
							</div>
						</div>
						<button class="btn">View all courses  <i class="fas fa-long-arrow-alt-right"></i></button>
					</div>
				</div>
			</section>

			<section id="about_maxcoach" class="contained">
				<div class="title">
					<h1 class="center">Why People Talk About <span class="green">MaxCoach</span>?</h1>
				</div>
				<div class="card_about">
					<div class="card">
					<!-- <div class="card" v-for="card in cardAbout"> -->
						<div class="img">
							<img class="pink_img" src="" alt="">
							<img class="green_img" src="./assets/img/maxcoach-shape-05.png" alt="">
							<img class="main_img" :src="`./assets/img/testimonial-avata-${cardAbout[1].img}.jpg`" alt="">
						</div>
						<div class="info">
							<p>{{cardAbout[1].paragraph}}</p>
							<div class="autor">{{cardAbout[1].author}}</div>
							<div class="work">{{cardAbout[1].work}}</div>
						</div>
					</div>
				</div>
				<div class="logos center">
					<div class="logo" v-for="logo in logosAbout">
						<img :src="`./assets/img/client-logo-colored-${logo.logo}.png`" alt="">
					</div>
				</div>
			</section>

			<section id="when_finished">
				<div class="contained">
					<div class="title">
						<p>enjoy reading on maxcoach</p>
						<h1>Latest on <span class="green">Our Blogs</span></h1>
					</div>
					<div class="card_blog">
						<div class="card" v-for="card in cardBlog">
							<div class="img">
								<img :src="`./assets/img/artist-blog-${card.img}-480x325.jpg`" alt="">
							</div>
							<div class="text">
								<div class="artist">{{card.work}}</div>
								<p>{{card.paragraph}}</p>
								<div class="data">
									<i class="far fa-calendar"></i>
									<span>{{card.data}}</span>
								</div>
								<div class="view">
									<i class="far fa-eye"></i>
									<span>{{card.views}} views</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="spam_maxcoach">
				<div class="contained">
					<div class="title">
						<p>wanna transform your live?</p>
						<h1 class="title">Glad to <span class="green">Help You</span> Learn</h1>
					</div>
					<div class="card_help">
						<div class="card" v-for="card in cardHelp">
							<i :class="card.icon"></i>
							<h3>{{card.title}}</h3>
							<p>{{card.paragraph}}</p>
						</div>
					</div>
					<img src="./assets/img/home-6-services-image-1024x411.png" alt="">
				</div>
			</section>

			<section id="start_now" class="center">
				<h3>Start today for getting <span class="green">Online Certification</span></h3>
				<h2>You can be your own guiding star with our help!</h2>
				<button class="btn">Get started now</button>
			</section>
		</main>

		<footer>
			<div class="contained">
				<div class="addres">
					<h4>Addres</h4>
					<div class="text">
						<p>382 NE 191st St # 87394 Miami, FL 33179-3899</p>
						<p>+1 (305) 547-9909 (9am - 5pm EST, Monday - Friday)</p>
						<a href="#">support@maxcoach.com</a>
						<div class="logos">
							<div class="logo" v-for="logo in logosSocial">
								<i :class="logo.icon"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="contact">
					<ul class="explore no_style">
						<li>
							<h4>Explore</h4>
						</li>
						<li>
							<ul class="no_style">
								<li v-for="explore in footerInfo.explore">
									<a :href="explore.link">{{explore.text}}</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="information no_style">
						<li>
							<h4>Information</h4>
						</li>
						<li>
							<ul class="no_style">
								<li v-for="information in footerInfo.information">
									<a :href="information.link">{{information.text}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="privacy center">© 2020 Maxcoach. All Rights Reserved</div>
		</footer>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./assets/js/main.js"></script>
</body>

</html>