.float_left {
  float: left;
}

.float_right {
  float: right;
}

.gray_text {
  color: #333333;
}

.btn {
  background-color: #AD611F;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
  font-weight: bolder;
}

.no_style {
  list-style-type: none;
}

.center {
  text-align: center;
}

.contained {
  margin: 0 auto;
  width: 1220px;
}

.title {
  text-align: center;
}
.title p {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 25px;
}
.title h1 {
  font-size: 50px;
}
.title h1 .green {
  font-weight: 100;
  color: #AD611F;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
nav .left {
  height: 35%;
}
nav .right > * {
  margin-left: 40px;
}
nav .right select {
  height: 100%;
  color: #ffffff;
  background-color: #1f2154;
}
nav .right .carrello {
  display: inline-block;
  position: relative;
}
nav .right .carrello i {
  font-size: 20px;
}
nav .right .carrello .number {
  position: absolute;
  top: -12px;
  right: -7px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  color: #1f2154;
  background-color: #ffffff;
  border-radius: 50%;
}
nav .right .search {
  display: inline-block;
  font-size: 0;
  height: 100%;
}
nav .right .search input {
  padding: 15px;
  border-radius: 5px 0 0 5px;
  background-color: #ffffff;
}
nav .right .search button {
  border-radius: 0 5px 5px 0;
  padding: 15px;
  color: #AD611F;
  background-color: #ffffff;
}

#jumbo {
  margin-top: 94px;
  background-image: url(../../assets/img/background_wave.svg);
  transform: rotate(180deg);
  fill: white;
}
#jumbo .contained {
  height: 600px;
  transform: rotate(180deg);
}
#jumbo .contained h1 {
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 15px;
}
#jumbo .contained p {
  color: #6c6c6c;
  font-size: 25px;
  margin-bottom: 35px;
}
#jumbo .positionament {
  position: relative;
  transform: rotate(180deg);
}
#jumbo .positionament .left {
  position: absolute;
  top: 200px;
  left: 20%;
  transform: translate(-50%, 0);
}
#jumbo .positionament .card {
  width: 770px;
  height: 463px;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
#jumbo .positionament .card .placeolder_img {
  height: 100%;
  width: 100%;
}
#jumbo .positionament .card .logo_youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10%;
}
#jumbo .positionament .right {
  position: absolute;
  top: 390px;
  left: 78%;
  transform: translate(-50%, 0);
}

header {
  background-color: #1f2154;
}

#free_start {
  padding-top: 318px;
  background-image: url(../../assets/img/background-pattern-grid-line.png);
}
#free_start .info {
  margin-bottom: 150px;
}
#free_start .info h2 {
  width: 60%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}
#free_start .info .autor {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
}
#free_start .info .founder {
  font-size: 18px;
  color: #bcbcbc;
}
#free_start .numbers {
  display: flex;
  justify-content: space-around;
}
#free_start .numbers .data {
  width: 25%;
  font-size: 0;
}
#free_start .numbers .data .number {
  font-size: 40px;
  color: #AD611F;
  font-weight: bolder;
}
#free_start .numbers .data .mean {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #6c6c6c;
}
#free_start .get_start {
  margin-top: 120px;
  height: 1000px;
  display: flex;
  justify-content: space-between;
}
#free_start .get_start > * {
  width: 50%;
}
#free_start .get_start .cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#free_start .get_start .cards .card {
  width: 40%;
  padding: 20px 20px 0 20px;
  background-color: white;
  margin: 25px 0;
  box-shadow: 1px 1px 5px 5px #f7f7f7;
}
#free_start .get_start .cards .card.third {
  margin-top: 120px;
}
#free_start .get_start .cards .card h3 {
  margin-bottom: 10px;
}
#free_start .get_start .cards .card p {
  line-height: 26px;
  margin-bottom: 30px;
}
#free_start .get_start .cards .card img {
  width: 100%;
}
#free_start .get_start .info_for_start {
  padding: 100px;
}
#free_start .get_start .info_for_start p {
  text-transform: uppercase;
  margin-bottom: 20px;
}
#free_start .get_start .info_for_start h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}
#free_start .get_start .info_for_start ul {
  list-style-type: none;
}
#free_start .get_start .info_for_start ul li {
  margin-bottom: 20px;
}
#free_start .get_start .info_for_start ul li i {
  color: #AD611F;
  margin-right: 25px;
}
#free_start .get_start .info_for_start button {
  margin-top: 20px;
}

#choose_abbonament {
  background-color: silver;
  padding: 80px 0;
}
#choose_abbonament .cards {
  display: flex;
  flex-wrap: wrap;
}
#choose_abbonament .cards .card {
  width: 45%;
  padding: 15px;
  display: flex;
  margin: 30px 2.5%;
  transition: all 0.5s;
}
#choose_abbonament .cards .card:hover {
  background-color: white;
}
#choose_abbonament .cards .card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#choose_abbonament .cards .card .text {
  margin-left: 30px;
  width: 60%;
}
#choose_abbonament .cards .card .text div {
  display: inline-block;
}
#choose_abbonament .cards .card .text h3 {
  color: #AD611F;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#choose_abbonament .cards .card .text p {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
#choose_abbonament .cards .card .text .lessons {
  color: #6c6c6c;
}
#choose_abbonament .cards .card .text .students {
  color: #6c6c6c;
}
#choose_abbonament button {
  margin: 30px auto 0 auto;
}

#about_maxcoach {
  margin: 70px auto;
}
#about_maxcoach .cards {
  margin: 70px 0;
}
#about_maxcoach .cards .card {
  display: flex;
}
#about_maxcoach .cards .card .img {
  width: calc(100% * (1/3));
  display: flex;
  justify-content: center;
}
#about_maxcoach .cards .card .img img {
  height: 90%;
  border-radius: 50%;
}
#about_maxcoach .cards .card .info {
  width: calc(100% * (2/3));
  margin-right: 50px;
}
#about_maxcoach .cards .card .info p {
  font-size: 35px;
  margin-bottom: 50px;
}
#about_maxcoach .cards .card .info .autor {
  text-transform: uppercase;
  margin-bottom: 20px;
}
#about_maxcoach .cards .card .info .work {
  color: #6c6c6c;
}
#about_maxcoach .logos {
  display: flex;
}
#about_maxcoach .logos .logo {
  width: calc(100% * (1/6));
  width: 100%;
}
#about_maxcoach .logos .logo img {
  max-width: 80%;
}

#when_finished {
  background-color: #bcbcbc;
  padding: 80px 0;
}
#when_finished .cards {
  display: flex;
  margin-top: 70px;
}
#when_finished .cards .card {
  width: calc(100% * (1/3));
  padding: 20px;
}
#when_finished .cards .card .img img {
  width: 100%;
  border-radius: 5px;
}
#when_finished .cards .card .text .artist {
  text-transform: uppercase;
  color: #6c6c6c;
  margin: 15px 0;
}
#when_finished .cards .card .text p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}
#when_finished .cards .card .data {
  display: inline-block;
  color: #6c6c6c;
  margin-right: 20px;
}
#when_finished .cards .card .view {
  display: inline-block;
  color: #6c6c6c;
}

#spam_maxcoach {
  padding: 100px 0 650px 0;
  background: linear-gradient(white, #EEF1F4);
  position: relative;
}
#spam_maxcoach .cards {
  display: flex;
  margin-top: 70px;
}
#spam_maxcoach .cards .card {
  width: calc(100% * (1/4));
}
#spam_maxcoach .cards .card i {
  font-size: 60px;
  margin-bottom: 25px;
}
#spam_maxcoach .cards .card h3 {
  margin-bottom: 20px;
  font-size: 22px;
}
#spam_maxcoach .cards .card p {
  font-size: 18px;
}
#spam_maxcoach img {
  width: 1220px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -35px;
}

#start_now {
  padding: 120px 0;
}
#start_now h3 {
  font-size: 25px;
}
#start_now h3 .green {
  font-weight: 100;
  color: #AD611F;
}
#start_now h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
