.float_left {
  float: left;
}

.float_right {
  float: right;
}

.btn {
  background-color: #1fad96;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
}

.no_style {
  list-style-type: none;
}

.center {
  text-align: center;
}

.contained {
  margin: 0 auto;
  width: 1220px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
nav .left {
  height: 35%;
}
nav .right > * {
  margin-left: 40px;
}
nav .right select {
  height: 100%;
  color: #ffffff;
  background-color: #1f2154;
}
nav .right .carrello {
  display: inline-block;
  position: relative;
}
nav .right .carrello i {
  font-size: 20px;
}
nav .right .carrello .number {
  position: absolute;
  top: -12px;
  right: -7px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  color: #1f2154;
  background-color: #ffffff;
  border-radius: 50%;
}
nav .right .search {
  display: inline-block;
  font-size: 0;
  height: 100%;
}
nav .right .search input {
  padding: 15px;
  border-radius: 5px 0 0 5px;
  background-color: #ffffff;
}
nav .right .search button {
  border-radius: 0 5px 5px 0;
  padding: 15px;
  color: #1fad96;
  background-color: #ffffff;
}

#jumbo {
  margin-top: 94px;
  background-image: url(../../assets/img/background_wave.svg);
  transform: rotate(180deg);
  fill: white;
}
#jumbo .contained {
  height: 600px;
  transform: rotate(180deg);
}
#jumbo .contained h1 {
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 15px;
}
#jumbo .contained p {
  color: #6c6c6c;
  font-size: 25px;
  margin-bottom: 35px;
}
#jumbo .positionament {
  position: relative;
  transform: rotate(180deg);
}
#jumbo .positionament .left {
  position: absolute;
  top: 200px;
  left: 20%;
  transform: translate(-50%, 0);
}
#jumbo .positionament .card {
  width: 770px;
  height: 463px;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
#jumbo .positionament .card .placeolder_img {
  height: 100%;
  width: 100%;
}
#jumbo .positionament .card .logo_youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10%;
}
#jumbo .positionament .right {
  position: absolute;
  top: 390px;
  left: 78%;
  transform: translate(-50%, 0);
}

header {
  background-color: #1f2154;
}
