.float_left{
	float: left;
}
.float_right{
	float: right;
}

.btn{
	background-color: $green_sea;
	color: white;
	padding: 20px 50px;
	border-radius: 5px;
	font-weight: bolder;
}

.no_style{
	list-style-type: none;
}
.center{
	text-align: center;
}

.contained{
	margin: 0 auto;
	width: 1220px;
}
.title{
	p{
		text-transform: uppercase;
		font-weight: 100;
		margin-bottom: 25px;
	}
	h1{
		font-size: 50px;
		.green{
			font-weight: 100;
			color: $green_sea;
		}
	}

}