nav{
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $white;
	.left{
		height: 35%;
	}
	.right{
		>*{
			margin-left: 40px;
		}
		a{
			height: 100%;
			color: $white;
			text-decoration: none;
			font-weight: bold;
			background-color: $port_gore;
			i{
				font-size: 8px;
				margin-left: 5px;
			}
		}
		.carrello{
			display: inline-block;
			position: relative;
			i{
				font-size: 20px;
			}
			.number{
				position: absolute;
				top: -12px;
				right: -7px;
				font-size: 12px;
				
				display: flex;
				justify-content: center;
				align-items: center;

				height: 15px;
				width: 15px;
				color: $port_gore;
				background-color: $white;
				border-radius: 50%;
			}
		}

		.search{
			display: inline-block;
			font-size: 0;
			height: 100%;
			input{
				padding: 15px;
				border-radius: 5px 0 0 5px;
				background-color: $white;
			}
			button{
				border-radius: 0 5px 5px 0;
				padding: 15px;
				color: $green_sea;
				background-color: $white;
			}
		}
	}


}