#jumbo{
	margin-top: 94px;
	
	background-image: url(../../assets/img/background_wave.svg);

	fill: white;
	//prende il fill solo se l'immagine e' con la scrittura svg completa e non impostata
	.contained{
		height: 600px;
		//todo: sistemare il background che e' un loop di stortaggine

		h1{
			color: $white;
			font-size: 60px;
			margin-bottom: 15px
		}
		p{
			color: $gray;
			font-size: 25px;
			margin-bottom: 35px
		}
	}
	.positionament{
		position: relative;
		.left
		{
			position: absolute;
			bottom: 200px;
			left: 22%;
			transform: translate(-50%, 0);
		}
		.card{
			//todo: tentare di fare in modo che non sia la card a determinare la grandezza ma l'immagine
			width: 770px;
			height: 463px;
			position: absolute;
			bottom: -150px;
			left: 50%;
			transform: translate(-50%, 0);
			padding: 30px;
			background-color: white;
			border-radius: 10px;
			box-shadow: 1px 1px 5px 5px #e6e6e6;

			.placeolder_img{
				height: 100%;
				width: 100%;
			}
			.logo_youtube{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 10%;
			}
		}
		.right
		{
			position: absolute;
			bottom: 390px;
			left: 77%;
			transform: translate(-50%, 0);
		}

	}
}