#spam_maxcoach{
	padding: 100px 0 650px 0; 
	background: linear-gradient( white, #EEF1F4);
	position: relative;
	.title{

	}
	.cards{
		display: flex;
		margin-top: 70px;
		.card{
			width: calc(100% * (1/4));
			i{
				font-size: 60px;
				margin-bottom: 25px;
			}
			h3{
				margin-bottom: 20px;
				font-size: 22px;
			}
			p{
				font-size: 18px;
			}
		}
	}
	img{
		width: 1220px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: -35px;
	}

}