// #region colors
	$white: #ffffff;
	$port_gore: #1f2154;
	$silver: #bcbcbc;
	$green_sea: #AD611F;
	$yellow: #febc4d;
	$gray: #6c6c6c;
	$mandy: #e25a6d;
	$purple: #7355e7;
	$red: #cc1b17;
	$blue: #1f9efb;
// #endregion
